{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

  <!--Bootstrap-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="{% static 'citypage/homecss.css' %}" >
  <title>food web</title>

  <style>
      body{
        background-image: url("{% static 'citypage/images/95129.jpg' %}");
        background-size:cover;
        background-position:center;
        margin:0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:17px;
        color:#926239 ;
        line-height:1.6;
        font-family:cursive;
      }
  </style>
  </head>

  <body>
    <div id="showcase">
        <h1>Foodopedia</h1>
        <p><b>Explore The Best Delacacies.</b></p>
        <div class="dropdown">
        <button class="dropbtn">Select City</button>
          <div class="dropdown-content">
          <a href="welcome/aligarh">Aligarh</a>
          <a href="welcome/delhi">Delhi</a>
          <a href="welcome/agra">Agra</a>
          </div>  
        </div>
        <div class="nav">
          <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About</a></li>
          <div class="nav2">
            {% if user.is_authenticated %}
              <li><a href="#">Hey, {{user.first_name}} !</a></li>
              <li><a href="accounts/logout">Logout</a></li>
            {% else %}
              <li><a href="accounts/login">Log in</a></li>
              <li><a href="accounts/register">Register</a></li>
            {% endif %}
          </ul>
          </div>
          </div>
    </div>
   
    <section id="section-a">
      <p>A website for reviewing the Best food delacacies in your specified city. We assure you to give best reviews from our user. This website not only give reviews about registered restaurants but it also tell the famous (street food) of that specified city. You must Explore!</p>
    </section>
    <section id="section-c">
      <div class="box-1">
      <img src="{% static 'citypage/images/images.jpg' %}"  width="461" height="250">   
      </div>  
      <div class="box-2"> 
      <img src="{% static 'citypage/images/New-Delhi-India-War-Memorial-arch-Sir.jpg' %}"  width="468" height="250">
      </div> 
      <div class="box-3">
      <img src="{% static 'citypage/images/Taj-Mahal.jpg' %}"  width="470" height="250">
    </div>
    </section>
    </body>
</html>